/*
Header
*/
.forheader {
  width: 2.2em;
  position: absolute;
  top: -0.5em;
  left: 4em;
  border-radius: 50%;
  background: #e3e3e3;
}
.forheader-md {
  display: none;
  position: absolute;
  top: 1em;
  left: 2em;
}
.forcontainerheight {
  margin-bottom: 3em;
}
.small-md {
  font-size: 15px;
}
.container {
  width: 100%;
  max-width: 100%;
  background: #e3e3e3;
  overflow-y: hidden;
}
.HomeList {
  height: auto;
  background: #e3e3e3;

  max-width: 1515px;
  margin: auto;
}
.menu-itemss {
  width: 1.6rem;
  position: relative;
  top: 3%;
  left: 95%;
  cursor: pointer;
  visibility: hidden;
}

.styles-list {
  left: -100% !important;
}
#check {
  display: none;
}
.hoverAbout {
  font-weight: 300;
  cursor: pointer;
  list-style-type: none;
  margin-left: 30px;
  margin-right: 30px;
}
.drop:hover .hovarableContent {
  display: block;
}
.drop {
  position: relative;
  display: inline-block;
  height: 2rem;
}

.hovarableContent {
  display: none;
  cursor: pointer;
  list-style-type: none;
  background-color: #f6f6f8;
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: 2rem;

  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}
.Ulhover {
  display: block;
  list-style-type: none;
}
.hoverli {
  display: block;
  margin: 1rem 2.5rem 1rem 2.5rem;
}

.hoverlist:hover {
  color: #c60021;
}

.navbar {
  margin-right: 7em;
  min-height: 5rem;
}
#toph1 {
  color: black;
  font-size: 4.8em;
  display: block;
}
#toph1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 12rem;
  border-bottom: 2.2px solid #c60021;
}
.list-outer {
  position: relative;
}
.list {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: no-wrap;
}
.Navlist {
  display: inline-block;
  list-style-type: none;

  margin-left: 30px;
  margin-right: 30px;
}
.list li a {
  color: black;
  text-decoration: none;
  font-weight: 300;
}
.list li a:hover {
  color: #c60021;
}
.top-paragraph {
  text-align: center;
  margin-top: 10.3rem;

  color: white;
}
.small-md {
  margin-bottom: 5em;
}
.top-paragraph h1 {
  font-size: 5.2rem;
  margin-bottom: 2rem;
}
.top-paragraph p {
  display: block;
  margin-top: 3rem;
  font-size: 1.3rem;
  color: black;
}

button {
  margin: auto;
  display: block;
  margin-top: 3rem;
  height: 3.2rem;
  width: 17rem;
  border-radius: 28px;
  border: 2px solid #c60021;
  background-color: #c60021;
  font-size: 1rem;
  font-weight: 600;
  color: whitesmoke;
}
button:hover {
  background-color: rgb(187, 21, 21);
  border: 2px solid rgb(187, 21, 21);
}

#HomeId {
  position: relative;
  margin: auto;
  top: 7rem;
}
.greencodes-home {
  position: relative;
  margin: auto;
  top: 7rem;
  height: 0.125em;
  width: 12em;
}

/*
About
*/
.container-max {
  background-color: #f6f6f8;
}
.About {
  position: relative;
  width: 100%;
  max-width: 1515px;
  background-color: #f6f6f8;
  margin-left: auto;
  margin-right: auto;
}
.AboutInner {
  position: absolute;

  width: 40%;
  max-width: 40%;
  left: 4em;
}
#AboutH2 {
  display: block;
  margin-bottom: 3rem;
  font-size: 3rem;
  letter-spacing: 2px;
}
.AboutInner h4 {
  display: block;
  margin-bottom: 1.2rem;
  letter-spacing: 2px;
}
#AboutP {
  word-wrap: break-word;
  line-height: 1.8;
}

.sliderforimages {
  float: right;
  margin-right: 4em;
  background: #f6f6f8;
  width: 35%;

  border-radius: 10px;

  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.1);

  transition: transform 0.5s;
  margin-bottom: 4em;
}
.sliderforimages:hover {
  transform: translateY(-10px);
}
.innerslide {
  padding-top: 0;
  padding-bottom: 10px;
  margin: auto;
  height: 35rem;
  width: 100%;
}

.imgslide {
  height: 30rem;

  object-fit: cover;
}

.slide {
  overflow: hidden;
  display: block;
  margin: 0 auto;

  position: relative;
  top: 0;
}

#AboutId {
  position: relative;
  top: 4rem;
  height: 0.128rem;
  left: 6%;
}
/*
services
*/
.service-contain {
  margin-bottom: 3em;
}
.services {
  width: 100%;

  background: #e3e3e3;
  position: relative;
  margin-bottom: 5em;
  max-width: 1515px;
  margin: auto;
}
.ourservices {
  font-size: 2.6rem;
  text-align: center;
  color: black;
  font-weight: 700;
}
.ServiceArrow {
  background-color: red;
  position: relative;
  margin: auto;
  top: 0.7rem;
  width: 14rem;
  height: 0.128rem;
}

.services2 {
  display: flex;

  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2.5em;
  margin-bottom: 4em;
}

.cart {
  width: 25%;
  min-height: 20rem;
  background: whitesmoke;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  line-height: 1.8rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.cart:hover {
  transform: translateY(-10px);
}
.web-1 {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1em;
  width: 2.5em;
  margin-left: auto;
  margin-right: auto;
}
.web-2 {
  width: 2.1em;
}
.web-4 {
  margin-top: 1.1em;
}
.cart:not(:last-child) {
  margin-right: 1rem;
}
#Servicesh2 {
  display: block;

  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1em;
}
#servicsesp {
  display: block;
  margin-left: 1rem;
}
/*
projects
*/
.margin-container {
  padding-bottom: 4em;
}
.Pictures {
  object-fit: fill;
}
.titleprojects {
  width: 100%;
  display: block;

  text-align: center;
}
#projectsp {
  margin-bottom: 1.3rem;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  color: #c60021;
}
#projectsh2 {
  margin-bottom: 1.4rem;
  font-size: 2.6rem;
}

.projects {
  max-width: 1515px;
  margin-left: auto;
  margin-right: auto;

  background-color: #f6f6f8;
}
.projectsinner {
  width: 81.5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;

  background: white;
  margin-top: -1.3rem;
  background-color: #f6f6f8;
  margin-bottom: 4rem;
}
.projectsinner div {
  flex: 1 1 10%;
}
.btn {
  width: 9rem;
  border: 2px solid rgb(128, 121, 121);
  background-color: rgb(128, 121, 121);
}
.btn:hover {
  color: black;
  background: #c60021;
  border: 2px solid #c60021;
}
#ProjectsId {
  position: relative;
  margin: auto;
  top: 4rem;
  height: 0.1rem;
}
.grid {
  margin-left: 10em;
  margin-right: 10em;
}
.PROJECTImages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px 300px;
  grid-auto-flow: dense;
}
.All {
  width: 100%;
  height: 100%;
  position: relative;
}
.itemsAll {
  width: 100%;
  height: 100%;
  position: relative;
}
.itemsAll .image-All {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.itemsAll .image-All img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.itemsAll:hover .image-All img {
  transform: scale(1.5);
}
.inner-all {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #292a39;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}
.itemsAll:hover .inner-all {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  visibility: visible;
}
.Common-image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  transition: 0.3s ease;
}
.inner-allheader1 {
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
}
.width-1 {
  grid-column: span 1;
  grid-row: span 4;
}
.width-2 {
  grid-column: span 1;
  grid-row: span 2;
}
.width-3 {
  grid-column: span 1;
  grid-row: span 6;
}
.width-4 {
  grid-column: span 1;
  grid-row: span 6;
}
.width-5 {
  grid-column: span 1;
  grid-row: span 2;
}
.width-6 {
  grid-column: span 1;
  grid-row: span 2;
}
.width-7 {
  grid-column: span 1;
  grid-row: span 2;
}

/*wordpress */
.gridwo {
  margin-left: 10em;
  margin-right: 10em;
}
.PROJECTImages5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-auto-flow: dense;
}
.word-modal {
  width: 100%;
  height: 100%;
  position: relative;
}
.items-word {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-word {
  width: 100%;
  height: 45rem;
  min-height: 45rem;
  overflow: hidden;
}
.image-word img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.items-word:hover .image-word img {
  transform: scale(1.5);
}
.inner-word1 {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #292a39;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.items-word:hover .inner-word1 {
  width: 100%;
  height: 45rem;
  min-height: 45rem;
  opacity: 0.8;
  visibility: visible;
}
.inner-allheader1 {
  cursor: pointer;
}

/*ci */

.gridci {
  margin-left: 10em;
  margin-right: 10em;
}
.PROJECTImages1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-auto-flow: dense;
}
.Ci-modal {
  width: 100%;
  height: 100%;
  position: relative;
}
.items-ci {
  width: 100%;
  height: 81%;
  position: relative;
}
.image-ci {
  width: 100%;
  min-height: 45rem;
  height: 45rem;
  overflow: hidden;
}
.image-ci img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.items-ci:hover .image-ci img {
  transform: scale(1.5);
}
.inner-word-ci1 {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #292a39;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}
.items-ci:hover .inner-word-ci1 {
  min-height: 45rem;
  height: 45rem;

  width: 100%;
  opacity: 0.8;
  visibility: visible;
}
.inner-allheader1 {
  cursor: pointer;
}
/*magneto */

.PROJECTImages4 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  grid-auto-flow: dense;
}
.items-magento {
  width: 42%;
  height: 48%;
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.magento-modal {
  width: 100%;
  height: 38rem;
  min-height: 38rem;
  position: relative;
}
.image-magneto {
  width: 100%;
  height: 38rem;

  overflow: hidden;
}
.image-magneto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.inner-word-magento {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #292a39;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}
.magento-modal:hover .image-magneto img {
  transform: scale(1.5);
}
.magento-modal:hover .inner-word-magento {
  width: 100%;
  height: 38rem;
  min-height: 38rem;
  opacity: 0.8;
  visibility: visible;
}

/* eccomerce*/

.PROJECTImages3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  grid-auto-flow: dense;
}
.items-ecommerce {
  width: 40%;
  height: 52%;
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.comal-modal {
  width: 100%;
  min-height: 38rem;
  height: 38rem;
  position: relative;
}
.image-eccomerce {
  width: 100%;
  min-height: 38rem;
  height: 38rem;
  overflow: hidden;
}
.image-eccomerce img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.inner-eccc {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: #292a39;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}
.items-ecommerce:hover .image-eccomerce img {
  transform: scale(1.5);
}
.items-ecommerce:hover .inner-eccc {
  width: 100%;
  min-height: 38rem;
  height: 38rem;
  opacity: 0.8;
  visibility: visible;
}

/*drupal */

.PROJECTImages2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  grid-auto-flow: dense;
}
.items-drupal {
  width: 42%;
  height: 50%;
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Dru-modal {
  width: 100%;
  min-height: 38rem;
  height: 38rem;
  position: relative;
}
.image-drupal {
  width: 100%;
  min-height: 38rem;
  height: 38rem;
  overflow: hidden;
}
.image-drupal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.inner-drup {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #292a39;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
}
.items-drupal:hover .image-drupal img {
  transform: scale(1.5);
}
.items-drupal:hover .inner-drup {
  width: 100%;
  min-height: 38rem;
  height: 38rem;
  opacity: 0.8;
  visibility: visible;
}

/*
teams
*/
/*

.formargincss {
  margin-top: -38rem;
}
.forwordpress {
  margin-top: -5rem;
}
*/
.containermargin {
  margin-bottom: 3em;
}

.teams {
  background-color: #e3e3e3;
  position: relative;

  max-width: 380.563rem;
}
.teamsheader {
  padding-top: 2.5rem;
  text-align: center;
}
#teamsp {
  margin-bottom: 1.4rem;
  color: #c60021;
  font-size: 1.2rem;
  margin-top: 3rem;
}
#teamsh2 {
  margin-bottom: 1.4rem;
  color: black;
  font-size: 2.6rem;
}
.slides-team {
  position: relative;
  margin-bottom: 3em;
}

.imageteam {
  height: 24rem;

  object-fit: cover;
}

.teamdiv {
  overflow: hidden;
  display: block;
  margin: 0 auto;

  position: relative;
  top: 0;
}

.IneerDivisionteam {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  background: #292a39;
  color: black;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}
.teamdiv:hover {
  cursor: grab;
}
.teamdiv:hover .IneerDivisionteam {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 0.9;
}

.HEADERTEAM {
  display: block;
  color: #c60021;
  text-align: center;
  margin-top: 50%;
}
.HEADERTEAM2 {
  display: block;
  color: #c60021;
  font-size: 1rem;

  text-align: center;
}
#TeamsId {
  position: relative;
  margin: auto;
  top: 4rem;
  height: 0.11rem;
}
/*
contact Form

*/
input {
  background: #fff !important;
}
.contact-padding {
  padding-bottom: 4em;
}
.ContactForm {
  max-width: 1515px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  background-color: #f6f6f8;
  position: relative;
}

.FormContact {
  display: flex !important;
  width: 100%;
}
form .wrapper-div {
  position: absolute;

  top: 12%;
  left: 55%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 10rem;
}
.input-form {
  width: 50%;
  padding: 15px 15px;
}
.wrapper-div .input-form input {
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #f6f6f8;
  padding-left: 15px;
  font-size: 16px;

  width: 100%;
}
.wrapper-div .input-textarea textarea {
  width: 100%;
  padding-left: 15px;
  height: 90px;

  border-radius: 5px;
  border: 1px solid #f6f6f8;
  font-size: 16px;
}
.innerContact {
  width: 100%;
  max-width: 700px;
}
.input-textarea {
  width: 100%;
  padding: 15px 15px;
}
.FellFreeToContact {
  position: relative;

  left: 10em;
  top: 3rem;

  width: 35%;
}
.btns-textarea {
  margin-left: auto;
  margin-right: auto;
}
.HeaderContact {
  text-transform: lowercase;
  display: block;
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}
.header-sizes {
  font-size: 1.2em;
}

.ParagraphContact {
  display: block;
  margin-bottom: 2.6rem;
  margin-left: 3rem;

  font-weight: 300;
  color: #141414;
}
.number-images img {
  position: absolute;
}
::placeholder {
  color: #000;
  font-size: 0.76em;
}

:-ms-input-placeholder {
  color: #000;
  font-size: 0.76em;
}

::-ms-input-placeholder {
  color: #000;
  font-size: 0.76em;
}
#FormsId {
  position: relative;
  top: 2rem;

  width: 6.5rem;
  height: 0.1rem;
}

/*
Footer
*/
.container-maxx {
  background-color: #141414;
}
.Footer {
  height: 12rem;
  max-width: 1515px;

  margin-left: auto;
  margin-right: auto;
  background-color: #141414;
}
.DATE {
  display: block;
}
.FooterInner {
  height: 8rem;
  width: 22%;
  padding: 6rem 0;
  color: white;
  display: inline-block;
  margin-left: 10rem;
}
.fab {
  height: 3rem;
}
.Icons {
  height: 6rem;
  width: 20%;

  position: relative;
  bottom: 50%;
  left: 71%;
  display: flex;

  justify-content: space-between;
}
.IconsForFooter {
  height: 1.3rem;
  width: 1.3rem;
  display: block;
  transition: 1s ease-in-out;

  border-radius: 28%;
}
.IconsForFooter:hover {
  transform: translateY(-2px);
}
.FollowUs {
  color: #fff;
  font-size: 1.15rem;
}
/* bigger laptops */
