/* You can add global styles to this file, and also import other style files */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

.Arrow {
  height: 2px;
  width: 1rem;
  margin-top: 0.66rem;
  background: #c60021;
}
.ArrowH {
  height: 0.148rem;
  width: 14rem;
  background: #c60021;
}
span {
  color: #c60021;
}

.fixed-nav {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 38.5%;

  z-index: 999999999999;
  background: #e3e3e3;
  border-radius: 1rem;
}
.show-link {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: fixed;
  bottom: 1rem;
  right: 0;
  border-radius: 50%;
  z-index: 100;
  visibility: visible;
}
.top-link {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  visibility: hidden;
  z-index: -100;
}
.ImageClass {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

@media (max-width: 850px) {
  /*
  About
  */
  :root {
    --size-divisor: 1.5;
  }
  .About {
    height: 182rem !important;
    min-width: 100% !important;
  }

  .menu-itemss {
    visibility: visible !important;
  }

  .navbar {
    margin: 0 !important;
  }
  .fixed-nav {
    width: 100% !important;
    max-width: 100% !important;
  }
  .list {
    flex-direction: column !important;
    z-index: 1;
    position: fixed !important;
    width: 100% !important;

    height: 100vh !important;
    background: #e3e3e3 !important;
    top: 30px !important;
    left: -100% !important;
    text-align: center !important;
    transition: all 0.5s !important;
  }
  .Navlist {
    position: relative;
    line-height: 30px;
    bottom: 25%;
    margin: 30px 0 !important;
  }
  .Navlist a {
    font-size: 25px !important;
  }
  #check:checked ~ .list {
    left: 0 !important;
  }
  #check:checked ~ label .menu-itemss {
    display: none !important;
  }
  #check:checked ~ label .closemodal-hide {
    display: block !important;
  }

  .drop {
    position: relative !important;
    bottom: 25% !important;
  }
  .hoverAbout {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px !important;
  }

  .small-about-md {
    margin-top: 2em !important;
  }
  #AboutId {
    margin: auto !important;
    width: 9.5rem !important;
  }
  #AboutH2 {
    margin: auto !important;
    text-align: center;
  }
  #AboutP {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .AboutInner {
    min-width: 90% !important;
    margin: auto !important;
  }
  .sliderforimages {
    box-shadow: none !important;
    min-width: 80% !important;
    overflow: visible !important;

    max-width: 100% !important;
    top: 20% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .imgslide {
    display: block !important;
    margin: auto !important;

    width: 100% !important;
    object-fit: cover;
  }
  .manual-nav {
    display: none !important;
  }
  .innerslide {
    width: 100% !important;
    min-width: 100% !important;

    flex-direction: column !important;
    flex: 1 1 21rem !important;
  }

  /* services*/
  .services2 {
    flex-direction: column !important;
  }
  .services {
    min-width: 100% !important;
    width: 100% !important;
    height: 100rem !important;
  }
  .cart {
    min-width: 20rem !important;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .cart:not(:last-child) {
    margin-bottom: 1em;
  }
  /*

  .services2 {
    margin-right: 3em !important;
    margin-left: 3em !important;
  }
  .services {
    min-width: 100% !important;
    height: 45rem !important;
  }
  .cart {
    min-width: 10rem !important;
  }
  */

  /*
  projectsinner
  */
  .projectsinner div {
    flex-basis: 5% !important;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .btn {
    width: 8rem !important;
    margin-left: 2em;
    margin-right: 2em;
  }

  /* contact */
  .input-form {
    margin-bottom: 15px !important;
    width: 100% !important;
  }
  .ContactForm {
    height: 80rem !important;
  }
  form .wrapper-div {
    top: 45% !important;
    left: 0 !important;
    width: 100% !important;
  }
  .innerContact {
    margin-top: 10em !important;

    /*Footer */
  }
  .container-maxx {
    overflow-x: hidden;
  }
  .Icons {
    width: 34% !important;
    left: 64% !important;
  }
  .FooterInner {
    width: 100% !important;
    display: block !important;
    min-width: 100% !important;
    overflow-x: hidden;
    margin-left: 1rem !important;
  }
}

/* mobiles (landscape and portrait) */

@media (min-width: 1200px) {
  .list {
    visibility: visible !important;
  }
}

@media (min-width: 849px) and (max-width: 1200px) {
  .container {
    width: 100% !important;
  }
  /*head
 */
  .About {
    height: 68rem !important;
    min-width: 100% !important;
  }

  .menu-itemss {
    visibility: visible !important;
  }

  .navbar {
    margin: 0 !important;
  }
  .fixed-nav {
    width: 100% !important;
    max-width: 100% !important;
  }
  .list {
    flex-direction: column !important;
    z-index: 1;
    position: fixed !important;
    width: 100% !important;

    height: 100vh !important;
    background: #e3e3e3 !important;
    top: 30px !important;
    left: -100% !important;
    text-align: center !important;
    transition: all 0.5s !important;
  }
  .Navlist {
    position: relative;
    line-height: 30px;
    bottom: 25%;
    margin: 30px 0 !important;
  }
  .Navlist a {
    font-size: 25px !important;
  }
  #check:checked ~ .list {
    left: 0 !important;
  }
  #check:checked ~ label .menu-itemss {
    display: none !important;
  }
  #check:checked ~ label .closemodal-hide {
    display: block !important;
  }

  .drop {
    position: relative !important;
    bottom: 25% !important;
  }
  .hoverAbout {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px !important;
  }

  .small-about-md {
    margin-top: 2em !important;
  }

  #AboutId {
    margin: auto !important;
    width: 9.5rem !important;
  }
  #AboutH2 {
    margin: auto !important;
    text-align: center;
  }
  #AboutP {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .AboutInner {
    min-width: 90% !important;

    margin: auto !important;
  }
  .sliderforimages {
    outline: none !important;
    border: none !important;
    box-shadow: unset !important;
    top: 45% !important;
    left: 5% !important;
  }
  .imageteam {
    width: 30rem !important;
  }

  /*
  .manual-nav {
    display: none !important;
  }
  */
  .innerslide {
    width: 100% !important;
    min-width: 100% !important;
  }

  /*Footer */

  .Icons {
    width: 25% !important;
    left: 64% !important;
  }
  .FooterInner {
    width: 100% !important;
    display: block !important;
    min-width: 100% !important;
    margin-left: 5.2rem !important;
  }
  .container-maxx {
    overflow-x: hidden;
  }
  /*services */

  .services2 {
    margin-right: 3em !important;
    margin-left: 3em !important;
  }
  .services {
    min-width: 100% !important;
    height: 60vh !important;
  }
  .cart {
    min-width: 10rem !important;
  }
}
